/*
Project Name:
Project URI:
Author:
Author URI:
Version:
License: GNU General Public License v2 or later
Text Domain:
Tags:
*/
/*--------------------------------------------------------------
                    >>> TABLE OF CONTENTS: <<<
----------------------------------------------------------------
1.0 Compass
1.1 Reset
1.2 Fancybox
2.0 Fonts
3.0 Variables
4.0 Respsonsive
5.0 Core
6.0 Header
7.0 Footer
*/
/*===============================================================
1.0 COMPASS
================================================================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* line 6, ../sass/vendor/_css-reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/vendor/_css-reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/vendor/_css-reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/vendor/_css-reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/vendor/_css-reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/vendor/_css-reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/vendor/_css-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 2, ../sass/vendor/_fancybox.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 20, ../sass/vendor/_fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 27, ../sass/vendor/_fancybox.scss */
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 37, ../sass/vendor/_fancybox.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 41, ../sass/vendor/_fancybox.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 47, ../sass/vendor/_fancybox.scss */
.fancybox-outer, .fancybox-inner {
  position: relative;
}

/* line 51, ../sass/vendor/_fancybox.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 55, ../sass/vendor/_fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 59, ../sass/vendor/_fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 67, ../sass/vendor/_fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 73, ../sass/vendor/_fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 78, ../sass/vendor/_fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("fancybox_sprite.png");
}

/* line 82, ../sass/vendor/_fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

/* line 94, ../sass/vendor/_fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("fancybox_loading.gif") center center no-repeat;
}

/* line 100, ../sass/vendor/_fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 110, ../sass/vendor/_fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

/* line 122, ../sass/vendor/_fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 126, ../sass/vendor/_fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 130, ../sass/vendor/_fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

/* line 141, ../sass/vendor/_fancybox.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 146, ../sass/vendor/_fancybox.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 151, ../sass/vendor/_fancybox.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 155, ../sass/vendor/_fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
/* line 167, ../sass/vendor/_fancybox.scss */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

/* line 172, ../sass/vendor/_fancybox.scss */
.fancybox-lock body {
  overflow: hidden !important;
}

/* line 176, ../sass/vendor/_fancybox.scss */
.fancybox-lock-test {
  overflow-y: hidden !important;
}

/* line 180, ../sass/vendor/_fancybox.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("fancybox_overlay.png");
}

/* line 190, ../sass/vendor/_fancybox.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 196, ../sass/vendor/_fancybox.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
/* line 203, ../sass/vendor/_fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 211, ../sass/vendor/_fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 215, ../sass/vendor/_fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

/* line 224, ../sass/vendor/_fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 240, ../sass/vendor/_fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 246, ../sass/vendor/_fancybox.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 250, ../sass/vendor/_fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 265, ../sass/vendor/_fancybox.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  /* line 270, ../sass/vendor/_fancybox.scss */
  #fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/*===============================================================
2.0 FONTS
================================================================*/
/*===============================================================
3.0 VARIABLES
================================================================*/
/*===============================================================
4.0 RESPONSIVE
================================================================*/
/*===============================================================
5.0 CORE
================================================================*/
/* line 1, ../sass/_core.scss */
body {
  background: url("../images/concrete_seamless.png") repeat;
}

/* line 5, ../sass/_core.scss */
.container {
  width: 1190px;
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 5, ../sass/_core.scss */
  .container {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 5, ../sass/_core.scss */
  .container {
    width: 97%;
  }
}
@media (max-width: 767px) {
  /* line 5, ../sass/_core.scss */
  .container {
    width: 95%;
  }
}

/* animation transition*/
/* line 20, ../sass/_core.scss */
a,
img {
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  -moz-transition: 0.7s;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  outline: 0;
}

/* line 30, ../sass/_core.scss */
h1, h2, h3, p {
  font-family: "Oswald", sans-serif;
}

/*Selection*/
/* line 35, ../sass/_core.scss */
::-moz-selection {
  background: #2fb1fe;
  color: #fff;
}

/* line 40, ../sass/_core.scss */
::selection {
  background: #2fb1fe;
  color: #fff;
}

/*===============================================================
6.0 HEADER
================================================================*/
/* line 1, ../sass/_header.scss */
#header {
  background: #2f2e2e;
  text-align: center;
  padding: 10px 0;
  border-bottom: solid 5px;
}

/*===============================================================
6.0 MAIN CONTENT
================================================================*/
/* line 1, ../sass/_maincontent.scss */
.leading-content {
  font-size: 33px;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  line-height: 45px;
  padding: 25px 0;
}

/* line 19, ../sass/_maincontent.scss */
* {
  box-sizing: border-box;
}

/* line 24, ../sass/_maincontent.scss */
.grid {
  display: none;
  width: 100%;
}
/* line 28, ../sass/_maincontent.scss */
.grid .wrap {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
/* line 33, ../sass/_maincontent.scss */
.grid .cell {
  display: inline-block;
  width: 35.5rem;
  margin: .5rem;
  background: #fcfcfc;
  border: 1px solid #dde7e7;
  padding: 10px 10px 0 10px;
}
/* line 40, ../sass/_maincontent.scss */
.grid .cell:hover {
  box-shadow: 0px 0px 7px 0px #cecece;
}
@media (min-width: 1200px) {
  /* line 33, ../sass/_maincontent.scss */
  .grid .cell {
    width: 23%;
    height: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 33, ../sass/_maincontent.scss */
  .grid .cell {
    width: 47%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 33, ../sass/_maincontent.scss */
  .grid .cell {
    width: 47%;
    height: auto;
  }
}
@media (max-width: 767px) {
  /* line 33, ../sass/_maincontent.scss */
  .grid .cell {
    width: 100%;
  }
}
/* line 58, ../sass/_maincontent.scss */
.grid .cell img {
  width: 34rem;
  height: auto;
  opacity: 1;
  transition: opacity .1s;
}
@media (min-width: 1200px) {
  /* line 58, ../sass/_maincontent.scss */
  .grid .cell img {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 58, ../sass/_maincontent.scss */
  .grid .cell img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 58, ../sass/_maincontent.scss */
  .grid .cell img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 58, ../sass/_maincontent.scss */
  .grid .cell img {
    width: 95%;
    height: auto;
    padding-right: 1%;
  }
}
/* line 77, ../sass/_maincontent.scss */
.grid .cell img:hover {
  opacity: 0.8;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  cursor: pointer;
}
/* line 84, ../sass/_maincontent.scss */
.grid .cell .caption {
  font-size: 19px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 25px;
}

/* line 95, ../sass/_maincontent.scss */
#column-grid.active {
  display: block;
  column-count: 3;
  column-gap: 10px;
  column-fill: auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 95, ../sass/_maincontent.scss */
  #column-grid.active {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 106, ../sass/_maincontent.scss */
  #column-grid.active #column-grid.active {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 768px) and (max-width: 991px) and (max-width: 767px) {
  /* line 95, ../sass/_maincontent.scss */
  #column-grid.active {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/* line 117, ../sass/_maincontent.scss */
#column-grid.active .cell {
  display: inline-block;
}

/* line 124, ../sass/_maincontent.scss */
#masonry-grid.active {
  display: block;
}

/*===============================================================
7.0 FOOTER
================================================================*/
/* line 1, ../sass/_footer.scss */
#footer {
  display: block;
  text-align: center;
  background: #2f2e2e;
  padding: 30px 0;
  color: #fff;
  overflow: hidden;
}

/* line 10, ../sass/_footer.scss */
.copyright {
  float: left;
  padding-left: 10px;
}

/* line 15, ../sass/_footer.scss */
.back-to-top {
  float: right;
  padding-right: 10px;
}
/* line 18, ../sass/_footer.scss */
.back-to-top a {
  color: #fff;
  text-decoration: none;
}
/* line 22, ../sass/_footer.scss */
.back-to-top a:hover {
  color: #fff;
  text-decoration: underline;
}
