//Typography Varibles
$title-font: 'Oswald', sans-serif;
$main-font: 'Oswald', sans-serif;

// Font weights
$light: 300;
$regular: 400;
$bold: 700;

//Colors
$primary-color: #2f2e2e;
$secondary-color:#fff;
$text-color:#000;

$box-color:#fcfcfc;
$background: url('../images/concrete_seamless.png') repeat;
